
            .modal-header, h4, .close {
                background-color: #0174DF;
                color:white !important;
                text-align: center;
                font-size: 30px;
            }
            .modal-footer {
                background-color: #0174DF;
            }

            body{
                background-image:url(images/primer_dia.png);
                background-repeat: no-repeat;
                background-size: cover;
                font-size: 20px;
            }

            .btn-block {
             display: block;
             width: 100%;
             height: 50px;
            }
