/*Nav bar */

a{
	color:white;
}

.navbar-default {
	background-color: #048cd4;
	height: 100px;
	max-height: 100px;
	margin:0% !important;
	padding: 0% !important;
	
}

.opcion{
margin-left: 10% !important;
padding-right: 5% !important;
margin-right: 5% !important;
width: 120% !important;
font-size: 90% !important;
}

button.navbar-toggle{
	background-color: #048cd4 !important;
	margin-right: 0% !important;
	padding-left: 2% !important;

}
div#navdos.navbar-collapse.col-lg-4.collapse.in.show{
	background-color:#048cd4 !important;
	margin-top: 0% !important;
	margin-left: 5% !important;
	padding-right: 6% !important;
	border-color: #048cd4 !important;
	float: right !important;
}

.dropdown-menu,#menuResponsive{
	background-color: #048cd4 !important;
}


.dropdown-menu>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: #fefdfd;
}

#logo{
	background-image: url(images/logo3.gif);
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
	height: 85px;
	width: 100px;
}

#navdos{
	float:right !important;
	font-size: 100%;
}

.btn-info,  .btn-danger{
	margin-right: 15px !important;
	margin-left: 5px !important;
}

th {
	text-align: center !important;
	background-color: #048cd4 !important;
	color:white;
	font-size: 23px;
	text-align: center;
	padding-top: 2px !important;
	padding-bottom: 12px !important;
}

.webService{
	height: 120px;
}

.nput-group-btn #bfiltro{
	background-color: blue !important;
}

#boton {
	background-color: #0174DF;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: white;
	margin-top:0px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #bcd8f2;
	padding-left: 40px;
	font-size: 16px !important;
}

.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
	vertical-align: middle !important;
	padding-left: 40px;
	font-size: 16px !important;
}

h3{
	text-align:center !important;
	font-weight: 900;
	font-size: 40px;
	font-style: initial;
}

#encabezado{
	margin-top:10px;
	text-align: center !important;
	font-weight: 900 !important;
}
.plus,button{
	color:white;
}

table {
	border-collapse: unset;
}

table,th,td {
	border: 1px solid black;
}

.encabezado .tabletitles{
	text-align: center;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
	display: none;
	float: right;
}

@media only screen and (min-width: 1024px) {
	.offset-1{margin-left:2.33%; }
	.offset-2{margin-left:16.66%;}
	.offset-3{margin-left:25%;}
	.offset-4{margin-left:33.33%;}
	.offset-5{margin-left:41.66%;}
	.offset-6{margin-left:50%;}
	.offset-7{margin-left:58.33%;}
	.offset-8{margin-left:66.6%;}
	.offset-9{margin-left:75%;}
	.offset-10{margin-left:83.33%;}
	.offset-11{margin-left:91.66%;}
}


/*Eventos*/

#eventos{
	position: absolute !important;
	background-position: center !important;
	height: 100% !important;
	width: 100% !important;
	background-image:url(images/primer_dia.png);
	background-repeat: no-repeat !important;
	width: 100% !important;
	z-index: -1 !important;
	margin:0% !important;
	right: 0% !important;
}

#contenedor{
background-color: white !important;
position: absolute!important;
box-shadow:24px -14px 37px 1px rgba(0,0,0,0.75)!important;
border-radius: 20px 20px 20px 20px;
overflow: hidden;
z-index: 5;
padding-top: 2% !important;
width: 40% !important;
margin-left: 30% !important;
margin-right:30% !important;
margin-top: 15% !important;
}

#contenedor_show{
background-color: white !important;
position: absolute!important;
box-shadow:24px -14px 37px 1px rgba(0,0,0,0.75)!important;
border-radius: 20px 20px 20px 20px;
overflow: hidden;
z-index: 5;
padding-top: 2% !important;
width: 40% !important;
margin-left: 30% !important;
margin-right:30% !important;
margin-top: 13% !important;
}

#titulos{
font: oblique bold 250% ;
text-align: center;
margin: 0% !important;
margin-bottom: 2% !important;
}

.eventoVistas{
float:left !important;
}

#evento_botones{
clear:both !important;
width: 100% !important;
padding-left: 25% !important;
padding-right: 25% !important;
}

#resumen_evento_botones{
clear:both !important;
width: 100% !important;
padding-left: 35% !important;
padding-right: 25% !important;
}

#evento_back{
float: left !important;
width: 100% !important;
padding-left: 80% !important;
padding-right: 0% !important;
padding-bottom: 5% !important;
}


/*Dashboard*/

#contenedor_dashboard{
padding-right: 0% !important;
padding-left: 4% !important;
}

#contenedor_materia{
	font-size: 120%;
	padding-right: 5% !important;
	padding-left: 10% !important;
}


#tabla_asistencia{
	width: 15%;
    margin:0.7%;
    border: 0px !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
    padding-bottom: 0.3% !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.24) !important;
    overflow: hidden;
    background-color: #FAFAFA !important;
    text-align: left !important;
   	font-weight: 700;
   	font-size: 75%;
   	font-style: initial;
   	color: black !important;
   	margin-top: 1% !important;
}

#cabecera_dashboard{
text-align:center !important;
}



#nombre{
	text-align: left !important;
}

#alumno_{
padding-left: 0.2% !important;
padding-right: 0.2% !important;
}

.verde{
	background-image: url(images/IconoV.png);
	background-size: contain;
	background-position: center;
	height: 35px;
	width: 35px;
	float: left;
}

.rojo{
	background-image: url(images/IconoR.png);
	background-size: contain;
	background-position: center;
	height: 35px;
	width: 35px;
	float: left;
}

.amarillo{
	background-image: url(images/IconoA.png);
	background-size: contain;
	background-position: center;
	height: 35px;
	width: 35px;
	float: left;
}


/*DasboardTV*/


.verde_tv{
	background-image: url(images/IconoV.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px !important;
	margin-top: 1% !important;

}

.rojo_tv{
	background-image: url(images/IconoR.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	margin-top: 1% !important;


}

.amarillo_tv{
	background-image: url(images/IconoA.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 25px;
	width:  25px;
	margin-top: 1% !important;

}



#tabla_asistenciaTv{
	width: 15%;
    margin:0.7%;
    padding-right: 0% !important;
    padding-left: 0% !important;
    border: 0px !important;
    padding-bottom: 0.3% !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.24) !important; 
    overflow: hidden;
    background-color: #FAFAFA !important;
    font-size: 75% !important;
}

#cabecera_dashboardTv{
text-align:center !important;
font-size: 80% !important;
}


/*Welcome*/

/*#background_web{
	background-image: url(images/background.jpg);
	margin-left: 15% !important;
	margin-right:15% !important; 
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 80% !important;
	height: 815px !important;	
	margin-top: 0% !important;
}*/

/*Login Google*/

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#customBtn:hover{
  cursor: pointer;
}

span.label{
  font-family: serif;
  font-weight: normal;
}

span.icon {
  background: url(images/LogoGoogle32px.png) transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle; 
  width: 42px;
  height: 42px;
}

a.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

/*Estilo de los cuadros de filtrado*/

.form-filtro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-filtro .form-group {
  flex-grow: 1;
  padding: 0 5px 0 0;
  flex-basis: 10%;
}

.form-filtro .form-control {
  width: 100%;
}

.form-filtro .form-nowrap {
  white-space: nowrap;	
}
#tarjeta{
	background-image: url(images/perfil.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 150px;
	width: 150px;
	margin-left: 30% !important;
	margin-right:60% !important;


	
}

#horas_{
	margin-left: 20% !important;
	margin-right:40% !important;
}

#contenedor_horas{
color:black !important;
background-color: white !important;
position: absolute!important;
box-shadow:15px -14px 37px 20px rgba(0,0,0,0.30)!important;
border-radius: 20px 20px 20px 20px;
overflow: hidden;
z-index: 1;
padding-top: 2% !important;
width: 25% !important;
margin-left: 35% !important;
margin-right:40% !important;
margin-top: 8% !important;	
}


/*Horas becarios*/

